.result__title {
  display: block;
  width: 100%;
  margin: 40px 0 20px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.result__value {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  max-width: 50%;
  display: block;
  margin: 5px auto;
}